.dm-list {
    padding: .5rem;
    overflow-y: auto;
}

.dm-item {
    display: flex;
    align-items: center;
    padding: .3em .5em;
    border-radius: 5px;
}

.dm-item:hover {
    background-color: rgba(255, 255, 255, 0.025);
}

.dm-item:hover > span {
    filter: brightness(125%);
}

.dm-item > span {
    margin-left: 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: var(--sidebar-username-color, var(--font-color));
}