.right-sidebar > h2{
    text-align: center;
}

.invite-container {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.invite-container:hover {
    background-color: var(--color-medium-grey-2);
}

.invite-container > span {
    margin-left: 1rem;
}
