.home-container {
    padding: 1.5rem 0;
}

.home-container > h3 {
    margin-left: 2rem;
    font-size: 1.1rem;
}

.users-list {
    padding: 1rem;
}

.user-item {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    padding: 1rem;
    border-top: 1px solid var(--color-light-grey);
    
    cursor: pointer;
}

.user-item:hover {
    border-radius: 10px;
    background-color: var(--color-light-grey);
}

.user-item:hover + .user-item {
    border-color: transparent;
}

.user-item:hover .home-options-icon {
    background-color: var(--color-dark-grey);
}

.user-item-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.user-item-options {
    display: flex;
    gap: .5em;
}

.home-icon-size-1 {
    --home-options-size: 1.5rem;
}

.home-icon-size-2 {
    --home-options-size: 2rem;
}

.home-icon-size-1 img {
    --home-img-size: calc(var(--home-options-size) / 2);
    height: var(--home-img-size);
    width: var(--home-img-size);
}

.home-icon-size-2 img {
    --home-img-size: calc(var(--home-options-size) / 2);
    height: var(--home-img-size);
    width: var(--home-img-size);
}

.home-options-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    padding: calc(var(--home-options-size) / 10);
    width: var(--home-options-size);
    height: var(--home-options-size);
    border-radius: 50%;
    background-color: var(--color-medium-grey-1);

    cursor: pointer;
}

.home-options-icon:hover {
    filter: brightness(125%);
}

/* .user-item-options img {
    width: 1rem;
    height: 1rem;
} */

.home-options-icon[data-tooltip]:hover::before {
    content: attr(data-tooltip);
    position: absolute;
    inset: -120% -50% auto auto;
    white-space: nowrap;
    padding: .6em .8em;
    border-radius: 5px;
    color: var(--font-color);
    background-color: var(--color-black);
}

.user-item-username {
    font-weight: bold;
    font-size: 1.1rem;
    color: var(--color-light);
}

/* ############################################### GUILD INVITES ################################################### */
/* ################################################################################################################# */

.right-sidebar > h2{
    text-align: center;
}

.invite-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    margin-bottom: 3px;
    cursor: pointer;
}

.invite-container .icon-card {
    flex-shrink: 0;
}

.invite-container:hover {
    /* background-color: var(--color-medium-grey-2); */
    background-color: rgba(255,255,255, 0.015);
}

.invite-container > span {
    margin-left: 1rem;
}

.answer-container {
    display: flex;
    align-self: flex-start;
    flex-shrink: 0;
}

.answer-container div {
    margin-right: 3px;
}



/* ################################################### TOPBAR ###################################################### */
/* ################################################################################################################# */

.home-topbar-container {
    display: flex;
    justify-content: space-between;

    overflow-x: auto;
    /* overflow-y: hidden; */
}

.tabs-container {
    display: flex;
    align-items: center;
}

.topbar-tab {
    font-size: 1rem;
    margin: 0 1em;
    color: var(--font-color);
    background-color: transparent;
}

.topbar-tab:hover {
    background-color: rgba(255,255,255, 0.1);
}

.selected-tab {
    background-color: rgba(255,255,255, 0.1);
}

.vertical-bar {
    height: 1.5em;
}

.topbar-search {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 20%;
    transition: width 250ms ease-out;
}

.topbar-search:focus-within {
    width: 30%;
}

.topbar-search img {
    width: 1em;
    height: 1em;
    /* border-radius: 50%; */
}