.modal-pane {
    display: flex; /* Hidden by default */
    position: fixed; /* Stay in place */
    justify-content: center;
    align-items: center;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-container {
    /* z-index: 999; */
    border-radius: var(--border-radius-size);
    background-color: var(--color-black);
    overflow: hidden;
}

/* ###################################################### USER ######################################################## */
/* #################################################################################################################### */
.user-modal {
    display: block;
    margin: 5px;
    width: 100%;
    max-width: 500px;
}

.user-modal > header {
    height: 10rem;
}

.user-modal > main {
    padding: 1rem;
}

.user-theme-panel {
    background-color: var(--user-bg-panel, var(--color-primary));
    min-height: 50%;
}

.username-container {
    display: flex;
    justify-content: space-between;
    height: 50%;
    padding: 1.5rem 3rem;
}

.username-container > span {
    font-size: 1.3rem;
    color: var(--color-primary);
}

/* ##################################################### GUILD ######################################################## */
/* #################################################################################################################### */
.guild-modal {
    display: none;
}

/* ##################################################### CHANNEL ###################################################### */
/* #################################################################################################################### */
.channel-modal {
    display: none;
}