.modal-pane {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    justify-content: center;
    align-items: center;
    z-index: 999; /* Sit on top */
    left: 0;
    top: 0;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    /* transition: background-color .4s ease-in; */
}

.modal-container {
    border-radius: var(--border-radius-size);
    background-color: var(--color-black);
    overflow: hidden;
    transform: scale(0);
    opacity: 0;
    animation: scale-in .4s var(--bounce-curve) forwards;
}

@keyframes scale-in {
    0% {
        transform: scale(0);
    }
    30% {
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* ###################################################### USER ######################################################## */
/* #################################################################################################################### */
.user-modal {
    display: none;
    margin: 5px;
    width: 100%;
    max-width: 500px;
}

.user-modal > main {
    padding: 1rem;
}

#userNoteForm {
    margin-bottom: 1rem;
}

#userNoteForm label {
    margin-left: 0;
    font-size: 1.2rem;
    font-weight: bold;
}


#note-user-modal {
    border-radius: 3px;
}

#note-user-modal {
    padding: .5em;
}

#note-user-modal {
    border: none;
    resize: vertical;
    font-family: var(--font-family);

    color: var(--font-color);
    background-color: transparent;
}

#note-user-modal:focus {
    outline: none;
    border: none;
    background-color: rgba(255,255,255,.1);
}

.theme-user-panel {
    height: 5rem;
    width: 100%;
    background-color: var(--user-bg-panel, var(--color-primary));
}

.username-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1.5rem 3rem;
}

.username-container > div {
    display: flex;
}

.user-info {
    display: flex;
    flex-direction: column;
    margin-left: 2em;
    align-self: flex-end;
}

#username-user-modal {
    font-size: 1.2rem;
    color: var(--color-primary);
}

#add-remove-friend-btn {
    align-self: flex-start;
    font-size: 1rem
}

/* ##################################################### GUILD ######################################################## */
/* #################################################################################################################### */
.create-guild-modal {
    display: none;
    width: 90%;
    max-width: 500px;
    min-height: 300px;

    transition: height .5s ease-in;
}

.top-header-modal {
    position: relative;
    display: flex;
    flex-direction: column;
}

.background-banner {
    height: 7rem;
    width: 100%;
    filter: blur(5px);
    background-color: var(--guild-bg-color, var(--color-primary));
}

.top-header-modal h1 {
    position: relative;
    top: -5rem;
    margin: 0 auto;
    font-size: 1.8rem;
}

.create-guild-main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1em;
    padding: 0 1.5rem 1.5rem 1.5rem;
}

.create-guild-main > .icon-card {
    align-self: center;
}

.naming-container {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.naming-container .guildname-container {
    max-width: 75%;
    flex-grow: 1;
}

.naming-container .initials-container {
    max-width: 25%;
}

.create-guild-main input[type=color] {
    max-width: 30%;
    height: 2rem;
}

.create-guild-main button {
    align-self: flex-end;
    font-size: 1.5rem;
}

/* ##################################################### CHANNEL ###################################################### */
/* #################################################################################################################### */
.create-textchannel-modal {
    display: none;
    width: 90%;
    max-width: 500px;
    min-height: 220px;
    padding: 1.5rem;
}

.create-textchannel-modal header {
    text-align: center;
}

.create-textchannel-modal main form {
    display: flex;
    flex-direction: column;
}

.create-textchannel-modal input[type=submit] {
    align-self: flex-end;
    margin-top: 1.25rem;
    font-size: 1.5rem;
    max-width: 30%;
}

/* ################################################## GUILD INVITE #################################################### */
/* #################################################################################################################### */
.guild-invite-modal {
    display: none;
    width: 90%;
    max-width: 500px;
    min-height: 300px;
    padding: 1.5rem;

    transition: height .3s ease-in-out;
}

.guild-invite-modal h1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

#copyInviteButton {
    position: relative;
    display: none;
    background-color: transparent;
}

#copyInviteButton:active::after {
    content: 'Copied!';
    position: absolute;
    display: block;
    inset: -1em 25% auto 25%;

    animation: fade-in-up .1s var(--bounce-curve);

    background-color: var(--color-medium-grey-2);
    border: 1px solid var(--color-green);
    border-radius: 3px;
    color: var(--color-green);
}

#toInviteList {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8em;
    margin-bottom: 1rem;
}

.to-invite-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    padding: 0 .4em;
    font-size: .75rem;

    border-radius: 1em;
    border: 2px solid var(--user-theme-color, #7289da);
    color: var(--user-theme-color, #7289da);
}

.to-invite-item img {
    width: 0.8em;
    height: 0.8em;
    cursor: pointer;
}

.to-invite-item img:hover {
    filter: brightness(150%);
}

.modal-search {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 95%;
    margin: 0 auto;
    font-size: 1.1rem;
    border: 1px solid var(--color-medium-grey-2);
    background-color: var(--color-light-grey);
}

.modal-search:focus-within {
    border: 1px solid var(--color-primary);
}

.modal-search img {
    width: 1em;
    height: 1em;
    /* border-radius: 50%; */
}

#searchModalList {
    padding: 1rem;
    max-height: 50vh;
    min-height: 10vh;
    overflow: auto;
}

.search-modal-item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
    width: 90%;
    margin: 0 auto;
    padding: 1em;
}

.search-modal-item:hover {
    background-color: rgba(0,0,0,0.15);
}

.search-modal-item .icon-card {
    flex-shrink: 0;
}

.search-modal-item > span {
    /* align-self: flex-end; */
    white-space: break-spaces;
    flex-grow: 1;
    color: var(--user-theme-color, var(--color-primary));
}

.search-modal-item > span > span {
    color: var(--font-color);
    font-size: .8em;
    opacity: .5;
}

.invite-to-guild-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    cursor: pointer;
}

.invite-to-guild-icon {
    filter: brightness(125%);
}

.invite-to-guild-icon img {
    width: 1em;
    height: 1em;
}

#inviteModalBtn {
   margin-top: 1rem;
   width: 6rem;
   font-size: 1.3rem;
}

@keyframes fade-in-up {
    from {
        opacity: 0;
        transform: translateY(25%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}

/* ################################################## CONFIRMATION #################################################### */
/* #################################################################################################################### */

.confirmation-modal {
    display: none;
    padding: 1.5rem;
    max-width: 350px;
}

#confirmation-message {
    text-align: center;
    font-size: 1.2rem;
}

.confirm-btn-container {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.confirm-btn-container > button {
    flex-grow: 1;
    font-size: 1.2rem;
}

/* ####################################################### ERROR ###################################################### */
/* #################################################################################################################### */

.error-modal {
    display: none;
    padding: 1.5rem;
    width: 95%;
    max-width: 350px;
}

.error-modal header {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}

.error-modal header svg {
    fill: var(--color-red);
    height: 3rem;
    width: 3rem;
}

.error-modal main {
    text-align: center;
}

.error-modal main button {
    background-color: transparent;
    border: 1px solid currentColor;
}
