.primary-nav {
    background-color: var(--color-dark-grey);
    grid-area: primary-nav;
    /* overflow-y: auto;
    overflow-x: visible; */
}

.secondary-nav {
    background-color: var(--color-medium-grey);
    grid-area: secondary-nav;
}

.side-card {
    --side-size: var(--card-size);
    position: relative;
    height: var(--side-size);
    width: var(--side-size);
    border-radius: 50%;
    margin: 15px auto;

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border-radius 200ms ease-in-out,
                background-color 100ms ease-in-out;

    background-color: var(--color-medium-grey);
    color: white;
}

.side-card:hover {
    border-radius: 40%;
    background-color: var(--color-primary);
}

.side-card:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    top: 35%;
    left: 150%;
    color: white;
    transition: all 200ms ease-in-out;

    padding: 0.6rem;
    background-color: black;
    box-shadow: 0px 0px 10px black;
}

/* .side-card > .tooltip {
    transform: scale(0);
    transition: all 200ms ease;
    top: 45%;
    left: 0%;
}

.side-card:hover > .tooltip {
    transform: scale(1);
    z-index: 999;
} */

[data-server-selected]::before {
    content: '';
    position: absolute;
    display: block;
    top: 45%;
    left: -28%;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    background-color: white;
}