.primary-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-dark-grey);
    grid-area: primary-nav;
    z-index: 2;
    /* overflow-y: hidden;
    overflow-x: visible; */
    /* overflow: hidden; */
}

.secondary-nav {
    background-color: var(--color-medium-grey-1);
    grid-area: secondary-nav;
    width: 100%;
}

.primary-nav > div:first-child {
    width: 5rem;
    /* overflow-y: hidden; */
    /* overflow-x: visible; */
    /* overflow: hidden; */
}

/* .guilds-container {
    overflow-y: auto;
    overflow-x: hidden;
    overflow: auto;
} */

.server-overview {
    display: flex;
    grid-area: server-overview;
    flex-direction: column;
    /* width: 100%; */
    /* overflow: hidden; */
}

.server-overview a {
    color: inherit;
    width: fit-content;
    height: fit-content;
}

.server-overview ul {
    padding: 1rem .5rem;
}

.text-channel { 
    --font-height: 1rem;
    --padding-height: 0.5rem; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    padding: .6rem .5rem;
    border-radius: 10px;
    font-size: .9rem;
}

.text-channel div {
    max-width: 85%;
    display: flex;
    align-items: center;
}

.text-channel>div img {
    margin-right: 0.5rem;
    width: 1.3em;
    height: 1.3em;
}


.text-channel-icons {
    visibility: hidden;
    cursor: pointer;
}

.text-channel-icons:hover {
    filter: brightness(150%);
}

.text-channel:hover .text-channel-icons {
    visibility: visible;

}

.text-channel:hover {
    background-color: rgba(0,0,0, .1);
}

.selected-channel {
    color: var(--color-light);
    background-color: rgba(255,255,255, .05);
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* align-self: stretch; */
    padding: 0.5rem;
}

.title img {
    cursor: pointer;
}

.title div {
    position: relative;
}

/* .title div:hover::after {
    position: absolute;
    inset: 0 0 auto auto;
} */

.user {
    grid-area: user;
    background-color: var(--color-dark-grey);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .7rem;
    width: 16rem;
    /* width: 100%; */

    border-left: 3px solid var(--user-theme-color, transparent);
    border-top-left-radius: 5px;
}

.user .icon-card {
    display: inline-block;
}

.user > div {
    font-size: .9rem;
    display: flex;
}

.userbar-id {
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    align-self: center;
}

#userbarUsername {
    color: var(--user-theme-color, var(--color-primary));
}

#userbarShortId {
    font-size: .75em;
    /* z-index: -1; */
}

.user > a img {
    height: 1.5rem;
    border-radius: 40px;
}

.user > a {
    position: relative;
}

.user > a::after {
    position: absolute;
    inset: -150% auto auto -3rem;
}

.side-card {
    position: relative;
    width: fit-content;
    margin: 15px auto;

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--color-light);
}

.side-card .icon-card {
    display: flex;
    justify-content: center;
    align-items: center;

    transition: border-radius 200ms ease-in-out,
                background-color 100ms ease-in-out;
    cursor: pointer;
}

.side-card .icon-card:hover {
    border-radius: 40%;
}

.side-card:hover::after {
    position: absolute;
    inset: 20% auto auto 130%;
}

.title div:hover::after {
    position: absolute;
    inset: 120% auto auto -3.5rem;;
}

.current-server::before {
    content: '';
    position: absolute;
    display: block;
    top: 28%;
    left: -28%;
    height: 1.5rem;
    width: 0.5rem;
    border-radius: 5px;
    background-color: white;
}

.side-card:hover::before {
    content: '';
    position: absolute;
    display: block;
    top: 45%;
    left: -28%;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 5px;
    background-color: white;
    animation: ball-to-bar .3s linear forwards;
}

#homeIcon:hover {
    background-color: var(--color-primary);
}

#homeIcon img {
    height: calc(var(--side-size) - 1rem);
    width: calc(var(--side-size) - 1rem);
}

#createGuildNavIcon:hover {
    background-color: var(--color-green);
}

#createGuildNavIcon svg {
    fill: var(--font-color);
}

#logoutIcon {
    flex-shrink: 0;
}

#logoutIcon:hover {
    background-color: var(--color-red);
}

#logoutIcon svg {
    fill: var(--font-color);
}

@keyframes ball-to-bar {
    from {
        top: 45%;
        height: 0.5rem;
    }
    to {
        top: 28%;
        height: 1.5rem;
    }
}
