main {
    padding-top: 25vh;
    height: 100vh;

    background-color: #7289DA;
    background-image: url("../public/bullseye-gradient.svg");
    background-attachment: fixed;
    background-size: cover;
}

.register-container {
    border: solid 1px black;
    max-width: 550px;
    margin: 0 auto;

    background-color: var(--color-dark-grey);
}
