.nav-settings {
    grid-area: nav-settings;
    background-color: var(--color-medium-grey-1);
    display: flex;
    justify-content: flex-end;
    padding: 2rem;
}

.nav-settings-content {
    display: flex;
    flex-direction: column;
    color: var(--font-color);
    position: fixed;
}

.nav-settings-content li {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.settings-display {
    grid-area: settings-display;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 6rem;
    padding-right: 6rem;
    padding-bottom: 6rem;
    padding-top: 3rem;
    justify-content: center;
}

.esc {
    grid-area: esc;
    border:2px solid var(--color-light-grey);
    border-radius: 50%;
    padding: 0.8rem;
    width: 40px;
    height: 40px;
    position: fixed;
    display: flex;
    right: 2rem;
    top: 2rem;
    justify-content: center;
    align-items: center;
}

.esc a {
    margin: 0;
    padding: 0;
    height: fit-content;
    display: flex;
}

.esc:hover {
    background-color: var(--color-medium-grey-1);
}

hr {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}

.nav-settings-content li:hover {
    background-color: var(--color-light-grey);
    border-radius: 7px;
}

#my-account-container {
    background-color: var(--color-light-grey);
    border-radius: 7px;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 3rem;
}

#my-account-container a{
    background-color: var(--color-medium-grey-1);
    padding: 0.5rem 1rem;
    border-radius: 7px;
    height: fit-content;
}

.userProfileItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#delete-account {
    border-radius: 5px;
    background-color: red;
    color: inherit;
    border: none;
    padding: 0.5rem 0.5rem;
    margin-top: 1rem;
}

#change-password {
    display: none;
    flex-direction: column;
    align-items: none;
    width: fit-content;
    margin-bottom: 1rem;
}

#user-profile {
    margin-top: 2rem;
}
#user-profile-container {
    background-color: var(--color-light-grey);
    border-radius: 7px;
    align-items: center;
    justify-content: center;
    padding: 3rem;
}

#user-bar-color {
    display: flex;
    position: relative;
    border-radius: 10px;
    width: 400px;
    height: 200px;
    margin: 0;
}

#user-preview {
    background-color: var(--color-dark-grey);
    display: flex;
    max-width: 400px;
    height: 150px;    
    position: absolute;
    bottom: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 1rem;
    justify-content: space-around;
    align-items: center;
}

#user-icon {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.color-user {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#user-color {
    width: 40px;
    height: 40px;
    padding: 0;
}

#pick-color {
    display: flex;
    align-items: center;
}

#pick-color span {
    padding-right: 0.5rem;
}

#about-me {
    margin-top: 3rem;
    width: 300px;
    height: 200px;
    background-color: var(--color-dark-grey);
    color: inherit;
}

.button {
    background-color: var(--color-green);
}

.user-password-input {
    border: 1px solid var(--color-dark-grey);
    background-color: var(--color-medium-grey-1);
    color: inherit;
    border-radius: 10px;
}

.user-password-input:focus-within {
    border: 1px solid var(--color-primary);
}