.text-channel-container {
    display: grid;
    grid-template-rows: auto 4rem;
    overflow: hidden;

    background-color: var(--color-medium-grey-2);
}

.messages-container {
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
    margin-right: 4px;
    /* hide scrollbar */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.messages-container > ol {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
}

.message {
    position: relative;
    width: 100%;
    word-wrap: break-word;
    padding: 1rem 1rem 1rem calc(var(--card-size) + 2rem);
}

.message:hover {
    background-color: var(--color-light-grey);
}

.message:hover .message-options {
    position: absolute;
    display: block;
    top: -0.2rem;
    right: 1rem;
    cursor: pointer;
    transform: scale(1);

    transition: transform 200ms ease;
}

.message-options {
    display: none;
    transform: scale(0);
    margin: 0;
    padding: 0;
    border-radius: 0.3rem;
    border: solid 1px var(--color-dark-grey);
    background-color: var(--color-medium-grey-2);
}

.message-options img {
    height: 1.5rem;
    width: 1.5rem;
    padding: 0;
    margin: 0;
    fill: var(--font-color);
    filter: invert(90%) sepia(77%) saturate(5716%) hue-rotate(180deg) brightness(104%) contrast(97%);
}

.message-options img[alt=remove-icon]:hover {
    /* filter: invert(38%) sepia(90%) saturate(3991%) hue-rotate(338deg) brightness(103%) contrast(88%); */
    filter: invert(29%) sepia(97%) saturate(760%) hue-rotate(319deg) brightness(112%) contrast(107%);
}

.message-options img[alt=reply-icon]:hover {
    filter: invert(59%) sepia(49%) saturate(1684%) hue-rotate(198deg) brightness(89%) contrast(91%);
}

.input-container {
    padding: 0px 1rem;
}

.message-box {
    
}

#message-input {
    width: 80%;
}

.author-avatar {
    --avatar-size: var(--card-size);

    position: absolute;
    top: 0;
    left: 1rem;
    height: var(--avatar-size);
    width: var(--avatar-size);
    background-color: var(--color-dark-grey);
    border-radius: calc(var(--avatar-size) / 2);
}