:root {
    /* color scheme */
    --color-black:          #190527;
    --color-dark-grey:      #222831;
    --color-medium-grey-1:  #F05454;
    --color-medium-grey-2:  #30475E;
    --color-light-grey:     #b6b6b6;
    --color-light:          #ffffff;
    --color-primary:        #868697;
    --color-red:            #ed4245;
    --color-green:          #3ba55d;
    --color-yellow:         #faa81a;
    --colorrgb-yellow:      250, 168, 26;
    --color-dark-yellow:    #715b34;
    --color-dark-yellow-2:  #49443c;
    --font-color:           #ffffff;
}