:root {
    /* color scheme */
    --color-black:          #080a2c;
    --color-dark-grey:      #272591;
    --color-medium-grey-1:  #373991;
    --color-medium-grey-2:  #565ec4;
    --color-light-grey:     #93a4c2;
    --color-light:          #ffffff;
    --color-primary:        #868697;
    --color-red:            #ed4245;
    --color-green:          #3ba55d;
    --color-yellow:         #faa81a;
    --colorrgb-yellow:      250, 168, 26;
    --color-dark-yellow:    #715b34;
    --color-dark-yellow-2:  #49443c;
    --font-color:           #ffffff;
}