IndexIgnore * # prevent directory listing

Order deny,allow
Allow from *

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php
# RewriteCond %{REQUEST_FILENAME}.php -f
# RewriteRule ^ %{REQUEST_URI}.php [L]

<Files ~ "bootstrap.php">
Order Allow,Deny
Deny from All
</Files>
<Files ~ "database_connector.php">
Order Allow,Deny
Deny from All
</Files>
